*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    background-color: #b7c1cb;
}
.training .marq{
    margin-bottom: 0;
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
    text-align: center;
}
.m1{
    display: inline-block;
    margin: 10px;
    
}
.modal-btn{
    width: 137px;
    height: calc(200px/2);
    border: 1px solid black;
    box-shadow: 10px 5px 8px #888888;
}
.modal-btn strong{
    
    font-weight: 700;
    font-size: 1.3rem;
}
ul li{
    list-style-type: none;
}